body{
    margin:0;
    font-family: "poppins", sans-serif;
    background:#90beb4;
    color: #1f2937;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html, body, #root{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
